/* fachwoche */
.fw {
    margin: 2rem 0;
    
}
#fw{
    flex-basis: 50%;
    background-color: #f1f1f1;
}
section.fw{
    flex-basis: 50%;
    flex: 0 0 50%;
    overflow: hidden;
    flex-direction: row;
}

.content#fw{
    width: 40%;
}
 /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus{
    background-color: #2980b9;
}

/* dropdown container */
.dropdown{
    position: relative;
    display: inline-block;
    background-color: #000000;
}

/* dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
}

/* links inside dropdown */
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown h2{
    color: rgb(215, 212, 212);
}

.dropdown a:hover {background-color: #ddd;}
/* show dropdown menu with js */
.show {display: block;}

/* calculator */
table#calcu { 
    border: 1px solid black; 
    margin: 0 auto;
    background-color: #5d1f8f;
    max-height: 6rem;
    width: 80%;
}
 

input[type="button"] { 
    width: 100%; 
    padding: 20px 40px; 
    background-color: rgb(0, 0, 0); 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
} 

input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid rgb(0, 0, 0);
}

/* form button game */
#btn-game {
    width: 40%;
    height: 40%;
    margin: 2rem auto;
    border: 2px solid #000;
}

#btn0{
    margin: 0 35% 0.5rem;
}
#grid-container {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 5px;
    justify-content: center;
}

.gridButton {
    width: 50px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #000;
    background-color: lightgray;
}

.highlighted {
    background-color: yellow;
}

/* fw 3.3 */
/* aufgabe 1 */
.fw input{
    max-height: fit-content;
    width: 15rem;
    max-width: fit-content;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 280px;
  }

  /* The popup form - hidden by default */
.form-popup {
    display: block;
    position: relative;
    border: 3px solid #f1f1f1;
    margin: 1rem;
    z-index: 9;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  /* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  /* aufgabe 2 */
  html#boll,
  body#boll{
    background-color: rgb(134, 128, 128);
    background-image: none;
  }
.new-content{
  display: flex;
  align-items: center;
}
.ball{
  letter-spacing: 0px;
  line-height: 2rem;
}
.ball h2{
  font-size: 2rem;
}
#ball-pic{
  width: 25%;
  align-self: center;
}
/* aufgabe 3 */
form#fw3 input{
  width: 100%;
  padding: 12px;
  margin: 5rem 0 10px;
  overflow: visible;
  font-size: 1rem;
}
form#fw input[type=submit]{
  background-color: #04AA6D;
  color: white;
  margin: 0rem;
}
h3.valid{
  color: #04AA6D;
}
.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}
h3.invalid{
  color: red;
}
.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}

#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}
#message li {
  padding: 10px 35px;
  font-size: 18px;
}
